.video-card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  max-width: 20rem;
  margin: 0 auto;
}

.video-card .video-header {
  width: 100%;
  display: grid;
}

.video-header .grid-position {
  grid-column: 1/2;
  grid-row: 1/2;
}

.video-header .video-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 1rem;
}

.video-controls .video-time span {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
}

.video-controls .action-btns button {
  border: none;
  color: var(--row-color);
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.action-btns button:nth-child(2) {
  margin: 0 5px;
}

.video-controls .action-btns button:hover {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.video-card .video-body {
  display: flex;
  align-items: center;
}

.video-body .video-body-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.video-body .video-title {
  color: var(--secondary-color);
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 1rem;
}
