.history-page {
    display: flex;
}

.history-section{
    width: calc(100% - 20rem);;
    display: flex;
    gap: 2rem;
    margin: 2rem auto;
}

.history-section .history-intro{
    width: 20rem;
}

.history-section .historyVideos-container{
    width: 95%;
}

.history-intro .delete-history-btn{
    background-color: var(--secondary-color);
}

.history-intro .delete-history-btn:hover{
    background-color: var(--secondary-hover-color);
}

@media screen and (max-width: 1000px){
    .history-section {
        width: 80%;
    }
}

@media screen and (max-width: 750px){
    .history-section {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
