.nav-header .title-explore {
  width: 20rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-header .title-explore .title {
  border-bottom: none;
}

.nav-header .title-explore .explore-tab h3 {
  color: var(--secondary-color);
}

.menu-bar {
  cursor: pointer;
}

.user-action {
  text-align: center;
}

.user-action .btn-user {
  cursor: pointer;
  padding: 0;
  font-size: 1.3rem;
}

.btn-user:hover {
  background-color: initial;
}

.user-action p {
  font-size: 1rem;
}

.btn-check {
  cursor: pointer;
}

.hamburger-menu-open {
  position: fixed;
}

.page-routes li {
  color: var(--secondary-hover-color);
}

.page-routes li i {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 750px) {
  .desktop-userName {
    display: none;
  }
}
