.nav-header .title-explore {
  width: 20rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title-explore .title {
  border-bottom: none;
}

.title-explore .explore-tab h3 {
  color: var(--secondary-color);
}

.menu-bar {
  cursor: pointer;
}

.user-action {
  text-align: center;
  cursor: pointer;
}

.user-action .btn-user {
  padding: 0;
  font-size: 1.3rem;
}

.btn-user:hover {
  background-color: initial;
}

.user-action p {
  font-size: 1rem;
  color: var(--secondary-color);
}

.btn-check {
  cursor: pointer;
}

.hamburger-menu-open {
  position: fixed;
}

.user-profile {
  display: flex;
  gap: 0.5rem;
}

.page-routes li {
  color: var(--secondary-hover-color);
  cursor: pointer;
}

.page-routes li i {
  margin-right: 0.5rem;
}

.search {
  position: relative;
  padding: 0;
}

.btn-search {
  margin-left: 8px;
}

.input-search {
  padding: 4px 0;
}

.search-items-container {
  position: absolute;
  width: 100%;
  background-color: white;
  padding: 0.5rem 0;
  z-index: 4;
  max-height: 15rem;
  overflow-y: auto;
}

.search-items-container::-webkit-scrollbar {
  width: 6px;
}

.search-items-container::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: var(--secondary-color);
}

.search-item {
  padding: 4px 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.search-item:hover {
  background-color: var(--row-color);
}

@media only screen and (max-width: 750px) {
  .title-explore .explore-tab {
    display: none;
  }

  .user-action {
    display: none;
  }
}
